{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Virtual_Try_On</title>
</head>
<body>
    {% load static %}
    <h1 id="title1">Virtual Try On </h1>
    <H1 id="title2">Using Generative Modeling</H1>

    <div id="inputs"> 

    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p style="color: #8f251a;">Target Person's Image</p>
        <input type="file" name="sentFile1" />

        <p style="color: #8f251a;">Reference Cloth</p>
        <input type="file" name="sentFile2" />
        <input type="text" name="device" value="website" style="display:none;">
        <input type="submit" name="submit" value="Upload" />
    </form>

    {% if condition_met %}
    <div class="image-container1">
        <div >
            <h1 style="color: #8f251a;">Input Images</h1>
            <img src="{% static 'result/GMM/test/image/latest.jpg' %}" alt="Image">
            <img src="{% static 'result/GMM/test/cloth/latest.jpg' %}" alt="Image">
        </div>
    </div>
</div>

    <div class="image-container2">
        <div >
        
            
            <h1 style="color: #8f251a;">Output Images</h1>
            <h2 style="color: #8f251a;">Geometric Matching Module</h2>
            <img src="{% static 'result/GMM/test/overlayed_TPS/latest.jpg' %}" alt="Image">
            <img src="{% static 'result/GMM/test/result_dir/latest.jpg' %}" alt="Image">
            <img src="{% static 'result/GMM/test/warp-cloth/latest.jpg' %}" alt="Image">
            <img src="{% static 'result/GMM/test/warp-mask/latest.jpg' %}" alt="Image">
            <img src="{% static 'result/GMM/test/warped_grid/latest.jpg' %}" alt="Image">
            

            
            {% comment %} <h2 style="color: #8f251a;">Geometric Matching Module</h2> {% endcomment %}
            <img src="{% static 'result2/TOM/test/p_rendered/latest.jpg' %}" alt="Image">
            <img src="{% static 'result2/TOM/test/try-on/latest.jpg' %}" alt="Image">
            

            {% else %}
            <p>No images to display.</p>
        {% endif %}
        </div>
        
    </div>
   


</body>
</html>